{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
<style>
    .parent{
        height: 207px;
        width: 200px;
    }
    .parent img{
        height: 100%;
        width: 100%;
    }
</style>
<div class="careplus-subheader">
    <div class="careplus-subheader-image">
        <span class="careplus-dark-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>List de Cabinet</h1>
                    <span>Aliquam in elit vel eros tincidunt pulvinar sit amet</span>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="careplus-main-content">












<div class="careplus-main-section">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="careplus-department careplus-department-list">
                    <ul class="row">
                        {% for c in cabinets %}
                        <li class="col-md-12">



                            <figure><a href="{{ path ('profilecabinet', {'userd':c.user}) }}" class="parent"><img src="{{ asset(vich_uploader_asset(c, 'devisFile')) }}" alt="" style="size: inherit">
                                    <span><i class="fa fa-link"></i><small></small></span></a><span></span></figure>
                            <div class="careplus-department-list-text">
                                <h5><a href="department-detail.html">{{ c.specialite }}</a></h5>
                                <span>{{ c.nomDocteur }}</span>
                                <p>{{ c.addresse }}</p>
                                <a href="{{ path ('reservation', {'userd':c.user}) }}" class="careplus-readmore-btn">Book<span></span></a>
                                <i class="icon-eye3"></i>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div></div></div></div></div></div>
{% endblock %}