{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
<div class="careplus-main-content">
    <div class="careplus-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="careplus-appointment-bord">
                        <ul class="schedule-days">
                            <li><span>ID</span></li>
                            <li>Name</li>
                            <li>Specialite</li>
                            <li>Address</li>
                            <li>Phone Number</li>
                        </ul>
                        {% for c in cabinets %}
                            <ul>
                                <li>{{ c.id}}</li>
                                <li>{{ c.nomDocteur }}</li>
                                <li>{{ c.specialite }}</li>
                                <li>{{ c.addresse }}</li>
                                <li>{{ c.tel }}</li>
                            </ul>
                        {% endfor %}

                    </div></div></div></div></div></div>

{% endblock %}