{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
    <div class="careplus-main-content">
        <div class="careplus-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careplus-appointment-bord">
                            <ul class="schedule-days" >
                                <li><span>ID</span></li>
                                <li>Name Patient</li>

                                <li>Day</li>
                                <li>Hour</li>
                                <li>Description</li>
                                <li>Phone Number</li>
                                <li>Date</li>
                                <li>Annuler Reservation</li>
                            </ul>
                            {% for c in rdv %}
                                <ul >
                                    <li>{{ c.id}}</li>
                                    <li>{{ c.nompatient }}</li>
                                    <li>{{ c.description }}</li>
                                    <li>{{ c.day }}</li>
                                    <li>{{ c.hour }}</li>
                                    <li>{{ c.numtel }}</li>
                                    <li>{{ "now"|date('Y-m-d') }}</li>


                                    {% if "now"|date('Y/m/d') > c.date|date_modify("-5 day")|date("Y/m/d") %}
                                    <li><a href="#" class="available-btn booked">Annuler</a>
                                        {% else %}
                                    <li><a href="{{ path ('deleterdv', {'id':c.id} ) }}" class="available-btn " >Annuler</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endfor %}

                        </div></div></div></div></div></div>


{% endblock %}

