{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
    <style>
        .parent{
            height: 207px;
            width: 200px;
        }
        .parent img{
            height: 100%;
            width: 100%;
        }
    </style>

    <div class="careplus-search-result-text">
        <h3>Search Cabinet</h3>
        <p>Please put a speciality or a doctor name</p>
        <form method="post">
            <input type="text" name="specialite">

            <label> <input type="submit" value="Search Now"> <span></span></label>
        </form>
        <i class="fa fa-search"></i>
    </div>

    <div class="col-md-9">
        <div class="careplus-department careplus-department-list">
            <ul class="row">
                {% for c in cabinets %}
                    <li class="col-md-12">
                        <figure><a href="department-detail.html" class="parent"><img src="{{ asset(vich_uploader_asset(c, 'devisFile')) }}" alt="" style="size: inherit">
                                <span><i class="fa fa-link"></i><small></small></span></a><span></span></figure>
                        <div class="careplus-department-list-text">
                            <h5><a href="department-detail.html">{{ c.specialite }}</a></h5>
                            <span>{{ c.nomDocteur }}</span>
                            <p>{{ c.addresse }}</p>
                            <a href="{{ path ('reservation', {'userd':c.user}) }}" class="careplus-readmore-btn">Book<span></span></a>
                            <i class="icon-eye3"></i>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div></div></div></div></div></div>












{% endblock %}