{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}


<div class="careplus-subheader">
    <div class="careplus-subheader-image">
        <span class="careplus-dark-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Appointment</h1>
                    <span>Aliquam in elit vel eros tincidunt pulvinar sit amet</span>
                </div>
            </div>
        </div>
    </div>
    <div class="careplus-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li>Appointment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="careplus-main-content">

    <!--// Main Section \\-->
    <div class="careplus-main-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="careplus-appointment-bord">
                        <ul class="schedule-days">
                            <li><span>TIME</span></li>
                            <li>Monday </li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>

                        </ul>
                        <ul>
                            <li><time datetime="2008-02-14 20:00">09:00 <small>-</small> 10:00</time></li>
                            <li>

                                <div class="careplus-doctor">

                                    {% if rdvs %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                    <a href="#" class="available-btn booked">Booked</a>
                                        {% else %}
                                            <h6>Booking Now !</h6>
                                            <span>Dr.{{ userd }} </span>
                                     <a href="{{ path('reservation1', {'userd':userd}) }}" class="available-btn ">Available</a>
                                        {% endif %}
                                </div>

                            </li>
                            <li>

                                <div class="careplus-doctor">

                                    {% if rdvsTu9 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation2', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>

                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsWe9 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation3', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTh9 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation4', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsFr9 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation5', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>

                        </ul>
                        <ul>
                            <li><time datetime="2008-02-14 20:00">10:00 <small>-</small> 11:00</time></li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsMo10 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation6', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li><div class="careplus-doctor">

                                    {% if rdvsTu10 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation7', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div></li>
                            <li><div class="careplus-doctor">

                                    {% if rdvsWe10 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation8', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTh10 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation9', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsFr10 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation10', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>

                        </ul>
                        <ul>
                            <li><time datetime="2008-02-14 20:00">11:00 <small>-</small> 12:00</time></li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsMo11 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation11', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTu11 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation12', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsWe11 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation13', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTh11 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation14', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsFr11 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation15', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>

                        </ul>
                        <ul>
                            <li><time datetime="2008-02-14 20:00">14:00 <small>-</small> 15:00</time></li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsMo14 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation16', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTu14 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation17', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsWe14 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation18', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTh14 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation19', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsFr14 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation20', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>


                        <ul>
                            <li><time datetime="2008-02-14 20:00">15:00 <small>-</small> 16:00</time></li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsMo15 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation21', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTu15 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation22', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsWe15 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation23', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsTh15 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation24', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="careplus-doctor">

                                    {% if rdvsFr15 %}
                                        <h6>Sorry !</h6>
                                        <span>Already Taken ! </span>
                                        <a href="#" class="available-btn booked">Booked</a>
                                    {% else %}
                                        <h6>Booking Now !</h6>
                                        <span>Dr.{{ userd }} </span>
                                        <a href="{{ path('reservation25', {'userd':userd}) }}" class="available-btn ">Available</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--// Main Section \\-->

    <!--// Main Section \\-->
    <div class="careplus-main-section careplus-partner-full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="careplus-fancy-title">
                        <h2>Our Partners</h2>
                        <span><small></small><i class="icon-tool5"></i></span>
                    </div>
                    <div class="careplus-partners">
                        <ul>
                            <li>
                                <figure><a href="404.html"><img src="extra-images/partner-img1.png" alt=""></a> <span>Happy Client</span></figure>
                            </li>
                            <li>
                                <figure><a href="404.html"><img src="extra-images/partner-img2.png" alt=""></a> <span>Happy Client</span></figure>
                            </li>
                            <li>
                                <figure><a href="404.html"><img src="extra-images/partner-img3.png" alt=""></a> <span>Happy Client</span></figure>
                            </li>
                            <li>
                                <figure><a href="404.html"><img src="extra-images/partner-img4.png" alt=""></a> <span>Happy Client</span></figure>
                            </li>
                            <li>
                                <figure><a href="404.html"><img src="extra-images/partner-img3.png" alt=""></a> <span>Happy Client</span></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
{% endblock %}