<h3>Liste de Modeles</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Role</th>
    </tr>
    {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.lastname }}</td>
            <td>{{ u.role }}</td>
            <td><a href="{{ path ('deleteuser', {'id':u.id} ) }}" >Supprimer</a></td>
        </tr>
    {% endfor %}
</table>
</ul>